{% extends "base.html" %}

{% block app_content %}
  <style>

  </style>
<body>
<div class="container text">
  <h1>Impressum</h1>

  Name des Unternehmens: WeMakeWIFSexy<br>
  Geschäftsführer: <b>Tandrew Ate</b><br>
  Anschrift: Olvenstedter Graseweg 37, 39128 Magdeburg<br>
  Telefon: 0340 4206669<br>
  E-Mail: <i>kleinerpenisenergie@hastdunichtsbessereszutun.com</i> <br>
  <br>
  Umsatzsteuer-ID: DE123456789<br>
  Inhaltlich verantwortlich gemäß § 55 Abs. 2 RStV: Tandrew Ate, Olvenstedter Graseweg 37, 39128 Magdeburg<br>
  <br>
  Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.<br>
  <br>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  {% endblock %}

