{% extends "base.html" %}

{% block app_content %}
  <style>
    .card:hover{
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        height: auto;
        z-index: 1;
        position:relative;
    }
    .card:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 5em;
        width: 100%;
    }
    .card {
        background-color: dimgray;
        color: white;
        padding: 0;
        padding-bottom: 33%;
    }
    .card-image-top{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
        object-fit: cover;
    }
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }
  </style>
<body>
  <h1>Willkommen in unserem Webshop!</h1>

  <p>Hier unsere Produkte:</p>

  <!-- Produkte in Reihen und Zellen -->
  <div class="row">
    {% for i in range(3) %}
    <div class="col-lg-4">
        <a href="{{url_for('produkt')}}">
            <div class="card col" style="float:left; margin:10px; border:none;">
                <img src="https://images.pexels.com/photos/126407/pexels-photo-126407.jpeg"
                         class="card-image-top" alt="Kein Bild">
                <div class="card-body" style="overflow-y:scroll">
                    <h5 class="card-title">Katze</h5>
                    <i class="card-text">süß</i>
                    <p></p>
                    <p class="card-text"><b>Merkmale:</b> Niedlich und isst gern Fisch</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
  </div>

  {% endblock %}

