{% extends "base.html" %}

{% block app_content %}
  <style>
    /* CSS styles for table */
    .card {
        background-color: dimgray;
        color: white;
        padding: 0;
        float:left;
        margin:10px;
        border:none;
        height: 100%;
    }

    .row{
        height: 45rem;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .card-img-top{
        height:50%;
        text-align :center;
    }

    .card-img-top-img{
        height: 100%;
    }

  </style>

  <div class="text">
    <h1>Warenkorb</h1>
    <p>Du hast folgende Artikel im Warenkorb:</p>
  </div>
  <div class="row card-columns" id="cart-items">

  </div>


<div class="text">
  <div id="total"></div>

  <form action="/checkout" method="post">
      <input type="submit" value="Zur Kasse" id="checkout-button">
  </form>
</div>

  <script>
     //get the cart from local storage
    let cart = JSON.parse(localStorage.getItem('cart')) || [];
    let total = 0;
    //loop through the cart items and add them to the card-columns
    for (let i = 0; i < cart.length; i++) {
      let item = cart[i];
      total += item.price*item.quantity;
      let card = document.createElement('div');
      card.classList.add('card');
      card.classList.add('col-4');
      card.innerHTML = `
        <div class="card-img-top">
          <img src="${item.img}" class="card-img-top-img" alt="${item.name}">
        </div>
        <div class="card-body">
          <h5 class="card-title">${item.name}</h5>
          <p class="card-text">${item.author}</p>
          <p class="card-text">Preis: ${item.price}€</p>
          <div class="form-group">
            <label for="quantity-${i}">Anzahl:</label>
            <input type="number" class="form-control" id="quantity-${i}" value="${item.quantity}" onchange="updateQuantity(${i})">
          </div>
          <button class="btn btn-danger" onclick="removeItem(${i})">Entfernen</button>
        </div>
      `;
      document.getElementById('cart-items').appendChild(card);
    }
    document.getElementById('total').innerHTML = `Gesamtsumme: ${total.toFixed(2)}€`; //2 Nachkommastellen

    function updateQuantity(index) {
      let quantity = document.getElementById(`quantity-${index}`).value;
      cart[index].quantity = quantity;
      localStorage.setItem('cart', JSON.stringify(cart));
      location.reload();
    }

    function removeItem(index) {
      cart.splice(index, 1);
      localStorage.setItem('cart', JSON.stringify(cart));
      location.reload();
    }
  </script>
{% endblock %}